<div id="stats">
  <div style="width: 100vw;">
  <select id="filterYear" class="form-select form-select-lg text-secondary" style="width: 30vw;display: inline;" aria-label=".form-select-lg example">
    <option selected value=''>Year</option>
    <option *ngFor="let year of yearsFound">{{year}}</option>
  </select>
  <select id="filterMonth" class="form-select form-select-lg text-secondary"  style="width: 30vw;display: inline;" aria-label=".form-select-lg example">
    <option selected value='' >Month</option>
    <option value="01">1</option>
    <option value="02">2</option>
    <option value="03">3</option>
    <option value="04">4</option>
    <option value="05">5</option>
    <option value="06">6</option>
    <option value="07">7</option>
    <option value="08">8</option>
    <option value="09">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
  </select>
  <button type="button" (click)="filterDate()" class="btn btn-success btn-lg btn-block" style="width: 40vw;border-radius: 0;margin-bottom: 10px;">Show Stats</button>
</div>
<button type="button" class="btn btn-white btn-lg btn-block" style="width: 100vw;border-radius: 0;">Total Money: {{0+totalAmount}}$</button>
<button type="button" class="btn btn-secondary btn-lg btn-block" style="width: 100vw;border-radius: 0;">Money Collected: {{0+paidAmount}}$</button>
<button type="button" class="btn btn-dark btn-lg btn-block" style="width: 100vw;border-radius: 0;">Money Left: {{0+leftAmount}}$</button>
</div>
<table class="table table-striped table-dark border-light mt-5" style="width:100vw;" id="recordsTable">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Patient ID</th>
      <th scope="col">Patient Name</th>
      <th scope="col">Patient Number</th>
      <th scope="col">Arrive Date</th>
      <th scope="col">Total Money</th>
      <th scope="col">Paid</th>
      <th scope="col">Left</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let finance of finances;">

      <th>{{finance.financeId}}</th>
      <th>{{finance.patient.id}}</th>
      <td>{{finance.patient.name}}</td>
      <td>{{finance.patient.patientNumber}}</td>
      <td>{{finance.patient.arriveDate}}</td>
      <td><input type="number" [value]="finance.total" class="form-control border border-1 border-dark" (change)="totalChange(finance.financeId)" [id]="finance.financeId+'total'"></td>
      <td><input type="number" [value]="finance.paid" class="form-control border border-1 border-dark" (change)="paidChange(finance.financeId)" [id]="finance.financeId+'paid'"></td>
      <td><input type="number" [value]="finance.left" class="form-control border border-1 border-dark"  (change)="leftChange(finance.financeId)" [id]="finance.financeId+'left'"></td>

      <td>
        <div class="btn-group" role="group" >
          <button type="button" class="btn btn-success" [id]="finance.financeId+'button'" (click)="saveFinance(finance)" disabled>Save</button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>ID</th>
      <th>Patient ID</th>
      <th>Patient Name</th>
      <th>Patient Number</th>
      <th>Date</th>
      <th>Total Money</th>
      <th>Paid</th>
      <th>Left</th>
      <th>Action</th>
    </tr>
</tfoot>

  </table>
  <div id="loading" class="loading text-center">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
