<div class="bg-secondary">
<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Add Patient</h5>
              <div class="text-center fw-light fs-5">
                <form [formGroup]="patientDTO" (submit)="addImageBase64()" >

                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="validationDefault03">Full Name</label>
                      <input type="text" class="form-control border border-1 border-dark" formControlName="name" placeholder="Full Name" required>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="validationDefault04">Arrive Date</label>
                      <input type="date" class="form-control border border-1 border-dark" formControlName="arriveDate" id="validationDefault04" required>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="validationDefault05">Leave Date</label>
                      <input type="date" class="form-control border border-1 border-dark"formControlName="leaveDate" id="validationDefault05" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4 mb-3">
                      <label for="validationDefault01">Type Of Disease</label>
                      <input type="text" class="form-control border border-1 border-dark" list="diseaseDataList" formControlName="typeOfDisease" placeholder="Disease Type" required>
                      <datalist id="diseaseDataList" >
                        <option *ngFor="let patient of patients">{{patient.typeOfDisease}}</option>
                      </datalist>
                    </div>
                    <div class="col-4 mb-3">
                      <label for="validationDefault02">Examination Date</label>
                      <input type="date" class="form-control border border-1 border-dark" formControlName="examinationDate" required>
                    </div>
                    <div class="col-4 mb-3">
                      <label for="validationDefaultUsername">Patient's Number</label>
                        <input type="tel" class="form-control border border-1 border-dark" formControlName="patientNumber" placeholder="Phone Number" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <textarea clase="form-control  border border-1 border-dark" style="width: 100%;" formControlName="note" placeholder="Note" required></textarea>

                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="validationDefault04">Passport</label>
                      <input type="file" class="form-control" (change)="setEvent($event)" id="passportImage" accept="image/*" required>
                    </div>
                    <div class="col-3 mb-3">
                      <label for="validationDefault05">Status</label>
                      <select class="form-select" formControlName="status" [class]="status()" required>
                        <option disabled selected hidden>Choose..</option>
                        <option value="Pending" class="bg-secondary">Pending</option>
                        <option value="Completed" class="bg-success">Completed</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4 mb-3">
                      <label for="validationDefault01">Hospital Name</label>
                      <input type="text" class="form-control" list="hospitalNameDataList" formControlName="hospitalName" placeholder="Hospital Name" required>
                      <datalist id="hospitalNameDataList">
                        <option *ngFor="let patient of patients; let currentIndex = index"  [id]="setConcatId(patient.hospitalName,currentIndex)"  [value]="patient.hospitalName"><p></p></option>
                      </datalist>
                    </div>
                    <div class="col-4 mb-3">
                      <label for="validationDefault02">Hospital Number</label>
                      <input type="tel" class="form-control" list="hospitalNumberDataList" formControlName="hospitalNumber" placeholder="Hospital Number" required>
                      <datalist id="hospitalNumberDataList">
                        <option *ngFor="let patient of patients">{{patient.hospitalNumber}}</option>
                      </datalist>
                    </div>
                    <div class="col-4 mb-3">
                      <label for="validationDefaultUsername">Entry Date</label>
                        <input type="date" class="form-control" formControlName="submissionDate">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                          <label>Sent By</label>
                          <input type="text" class="form-control" id="sentByText" formControlName="sentBy" /> <!--selectText > sentByText, selectList > sentByState -->
                    </div>
                    <div class="col-4 mb-3">
                      <label for="sentByState">Select Employee</label>
                      <select id="sentByState" (change)="listRedirect()" class="form-control" >
                        <option  selected disabled hidden id="sentByDefault">Choose..</option>
                        <option *ngFor="let employee of employees;" [id]="employee.employeeName">{{setEmployeeId(employee)}}{{employee.employeeName}}</option>
                        <option>Other...</option>
                      </select>
                    </div>
                    <div class="col-4">
                      <label >Employee Action</label>
                      <div class="btn-group w-100" role="group">
                      <input class="btn btn-dark text-light" id="addEmployeeButton" (click)="addToList()" type="button" value="Add" hidden/>
                      <input class="btn btn-dark text-light" (click)="removeFromList()"  type="button" value="Remove"/>
                    </div>
                    </div>

                  </div>
                  <button class="btn btn-dark text-light" type="submit">Add Patient</button>
                </form>
              </div>
          </div>
        </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
</div>
